* {
    font-family: impact; 
   }
   
   
   
   .container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   
.button {
    height: 60px;
     width: 100px;
}   